$dark-grey: #3c4043;
$dark-grey-active: #424548;
$light-grey: #5f6368;
$light-grey-active: #70757a;
$white: #fff;
$blue: #8ab4f8;
$blue-active: #aecbfa;

$fs-s: 15px;
$fs-m: 16px;
$fs-l: 22px;
$base-fs: $fs-m;

@function px-to-rem($px) {
  @return calc($px / $base-fs) * 1rem;
}
